<div class="row header">
    <div class="col-xs-6 col-xs-offset-3 text-center">
        <img class="logo" src="./images/ViveLab_Bog.png">
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-12 led-section">
        <button ng-click="toggleLed()">Encender LED</button>
    </div>
    <div class="col-md-4 col-xs-12 light-section">
        <button ng-click="readLight()">Leer luz</button>
    </div>
    <div class="col-md-4 col-xs-12 accelerometer-section">
        <button ng-click="readAccelerometer()">Leer acelerometro</button>
    </div>
</div>